---
- name: Check if exclude list is not empty when fail2ban installation is enabled
  fail:
    msg: "Fail2ban exclude list must NOT be empty!!!"
  when: 
    - not firewall_lockdown and firewall_fail2ban_exclude | length == 0
    - not(ansible_default_ipv4.address | ipaddr('10.0.0.0/8')) or firewall_fail2ban_force
    - not(ansible_default_ipv4.address | ipaddr('172.16.0.0/12')) or firewall_fail2ban_force
    - not(ansible_default_ipv4.address | ipaddr('192.168.0.0/16')) or firewall_fail2ban_force

- name: ensure firewalld and/or ufw are disabled
  systemd:
    name: "{{ item }}"
    state: stopped
    masked: yes
    no_block: yes
  with_items:
  - ufw
  - firewalld
  ignore_errors: yes

- name: install iptables
  package:
    name: iptables
    state: present

- name: install iptables service [CentOS]
  yum:
    name: iptables-services
    state: installed
  when: ansible_pkg_mgr == "yum"

- name: Start iptables service [CentOS]
  service:
    name: iptables
    state: started
    enabled: yes
  when: ansible_pkg_mgr == "yum"

- block:
  - include: rules.yml

  - name: install perstistent iptables [Ubuntu]
    environment:
      DEBIAN_FRONTEND: noninteractive
    apt:
      name: iptables-persistent
      state: present
    when: ansible_pkg_mgr == "apt"

  - name: Save iptables
    command: "/usr/libexec/iptables/iptables.init save"
    args:
      creates: "/etc/sysconfig/iptables"
    when: ansible_pkg_mgr == "yum"

  - include: fail2ban.yml
    when:
      - not(ansible_default_ipv4.address | ipaddr('10.0.0.0/8')) or firewall_fail2ban_force
      - not(ansible_default_ipv4.address | ipaddr('172.16.0.0/12')) or firewall_fail2ban_force
      - not(ansible_default_ipv4.address | ipaddr('192.168.0.0/16')) or firewall_fail2ban_force
  when: not firewall_lockdown

- include: lockdown.yml
  when: firewall_lockdown
