---

- name: Check if provided interface list is correct
  fail:
  when: not(firewall_provided_interfaces | issubset(firewall_available_interfaces))

- name: install iptables
  package:
    name: iptables
    state: present

- name: install iptables service [CentOS]
  yum:
    name: iptables-services
    state: installed
  when: ansible_pkg_mgr == "yum"

- name: Start iptables service [CentOS]
  service:
    name: iptables
    state: started
    enabled: yes
  when: ansible_pkg_mgr == "yum"

- name: register INPUT chain rules
  command: iptables -S INPUT
  register: input_chain
  changed_when: False
  tags: skip_ansible_lint

- name: flush INPUT chain if policy is ACCEPT
  command: iptables -F INPUT
  when: input_chain.stdout_lines[0] == "-P INPUT ACCEPT" and firewall_flush

- name: allow loopback communication
  iptables:
    chain: INPUT
    in_interface: lo
    jump: ACCEPT

- name: allow all established and related connections
  iptables:
    chain: INPUT
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT

- name: allow ICMP 8 (ping)
  iptables:
    chain: INPUT
    protocol: icmp
    icmp_type: 8
    ctstate: NEW,ESTABLISHED,RELATED
    jump: ACCEPT

- name: allow incoming SSH connection
  iptables:
    chain: INPUT
    protocol: tcp
    destination_port: 22
    jump: ACCEPT

- name: allow established SSH access
  iptables:
    chain: OUTPUT
    protocol: tcp
    source_port: 22
    ctstate: ESTABLISHED
    jump: ACCEPT

- name: allow DNS
  iptables:
    chain: INPUT
    protocol: "{{ item }}"
    source_port: 53
    ctstate: ESTABLISHED
    jump: ACCEPT
  with_items:
    - udp
    - tcp
  when: firewall_enable_dns

- name: allow NTP
  iptables:
    chain: INPUT
    protocol: udp
    source_port: 123
    ctstate: ESTABLISHED
    jump: ACCEPT
  when: firewall_enable_ntp

- name: allow inside environment communication
  iptables:
    chain: INPUT
    source: "{{ firewall_env_subnet }}"
    jump: ACCEPT
  when: firewall_env_subnet != ""

- name: create additional rules
  iptables:
    chain: "{{ item.chain | default('INPUT') }}"
    protocol: "{{ item.proto | default('tcp') }}"
    source: "{{ item.source | default('0.0.0.0/0')}}"
    destination_port: "{{ item.port | default('0:65535') }}"
    in_interface: "{{ item.interface | default(ansible_default_ipv4.interface) }}"
    jump: ACCEPT
  with_items: "{{ firewall_allow }}"
  notify: update firewall

- name: lock it down
  iptables:
    chain: INPUT
    policy: DROP
  changed_when: False

- name: install perstistent iptables [Ubuntu]
  environment:
    DEBIAN_FRONTEND: noninteractive
  apt:
    name: iptables-persistent
    state: present
  when: ansible_pkg_mgr == "apt"

- name: Save iptables
  command: "/usr/libexec/iptables/iptables.init save"
  args:
    creates: "/etc/sysconfig/iptables"
#  changed_when: False
  when: ansible_pkg_mgr == "yum"
